.aboutPage {
  height: 90%;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  margin: 0px 150px;
}

.aboutPage .mainPic {
  width: 400px !important;
}

.header {
  display: none;
}

.aboutPage .superTitle {
  font-size: 50px;
  opacity: 0.5;
  font-family: "Arvo", serif;
}

.aboutPage .title {
  font-size: 80px;
  opacity: 1;
  font-family: "Arvo", serif;
  margin-bottom: 25px;
}

.description {
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  margin-bottom: 15px;
}

.aboutPage .leftContent {
  margin: 225px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
}

.aboutPage .rightContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0;
}

@media (max-width: 767px) {
  .aboutPage {
    margin: 0;
  }
  .aboutPage .rightContent {
    display: none;
  }
  .aboutPage .leftContent {
    margin: 0 0 0 45px;
    padding: 0 15px;
    width: auto;
    font-size: 14px;
    align-items: center;
    text-align: center;
  }
  .aboutPage .superTitle {
    display: none;
  }
  .aboutPage .title {
    display: none;
  }
  .header {
    display: block;
    margin: 0;
  }
  .mobile-superTitle {
    font-size: 30px;
  }
  .mobile-title {
    font-size: 50px;
    margin-bottom: 0;
  }
}
