.App {
  display: flex;
  min-height: 100vh;
}

.leftBorder {
  width: 75px;
  background-color: #1D1E20;
}

.appMain {
  background-color: #111111;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 100px 60px 45px;
}