.expPageContainer {
    color: white;
    height: 100%;
    position: relative;
    margin-top: 160px;
}

.timeline {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}


