.workTile {
    height: 450px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}

.leftContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 60px 0px;
}

.rightContent {
    position: relative;
}

.superTitle {
    font-size: 20px;
}

.title {
    width: 50%;
    font-size: 60px;
}

.built {
    font-size: 12px;
    font-weight: bold;
    opacity: 0.4;
    font-family: 'Roboto', sans-serif !important;
}

.techSection {
    display: flex;
}

.tech {
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif !important;
}

.box {
    width: 450px;
    height: 450px;
    background-color: #D8D8D8;
}

.button {
    position: absolute;
    bottom: 45px;
    left: -180px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(127.76deg, #0DFC9C 0%, #00BDC0 100%);
}

.button a {
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF
}
