.workTile {
  height: 450px;
  display: flex;
  justify-content: space-around;
  margin: 160px 0px;
}

.workTile .leftContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 60px 0px;
  width: 30%;
}

.rightContent {
  position: relative;
  margin-right: 250px;
}

.superTitle {
  font-size: 20px;
}

.title {
  width: 50%;
  font-size: 60px;
}

.built {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.4;
  font-family: "Roboto", sans-serif !important;
}

.techSection {
  display: flex;
}

.tech {
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto", sans-serif !important;
}

.box {
  width: 450px;
  height: 450px;
  /*background-color: #D8D8D8;*/
}

.button {
  position: absolute;
  bottom: 45px;
  left: -150px;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(127.76deg, #0dfc9c 0%, #00bdc0 100%);
}

.rightContent a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 767px) {
  .box {
    display: none;
  }
  .workTile {
    margin: 0;
    height: auto;
    flex-direction: column;
    width: 80%;
  }
  .workTile .leftContent {
    width: auto;
    margin: 24px 0;
  }
  .superTitle {
    font-size: 14px;
  }
  .title {
    width: auto;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .built {
    margin-bottom: 4px;
  }
  .button {
    position: relative;
    font-size: 16px;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(127.76deg, #0dfc9c 0%, #00bdc0 100%);
  }
  .tech {
    margin-right: 10px;
    font-size: 10px;
  }
}

.videoFrame {
  max-width: 800px !important;
  width: 50vw !important;
}

.videoFrameMobile {
  max-width: 250px !important;
  width: 50vw !important;
}
